{% extends 'base.html.twig' %}
<h1>{{ program.title }} - Season {{ season.number }}</h1>

<h2>Episodes:</h2>
<ul>
    {% for episode in season.episodes %}
        <li>{{ episode.title }} - Episode {{ episode.number }}</li>
    {% endfor %}
</ul>
